<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuzhai.yuzhaiwork">

    <!-- 连网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--创建与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.yuzhai.global.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_chinese_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎界面 -->
        <activity
            android:name="com.yuzhai.ui.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.yuzhai.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 登录界面 -->
        <activity
            android:name="com.yuzhai.ui.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 注册界面 -->
        <activity
            android:name="com.yuzhai.ui.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记密码界面 -->
        <activity
            android:name="com.yuzhai.ui.ForgetPswdActivity"
            android:screenOrientation="portrait" />
        <!-- 类别界面 -->
        <activity
            android:name="com.yuzhai.ui.CategoryActivity"
            android:screenOrientation="portrait" />
        <!-- 广告界面 -->
        <activity
            android:name="com.yuzhai.ui.AdvertiseActivity"
            android:screenOrientation="portrait" />
        <!-- 个人信息界面 -->
        <activity
            android:name="com.yuzhai.ui.UserInfoActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!-- 搜索界面 -->
        <activity
            android:name="com.yuzhai.ui.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 详细描述界面 -->
        <activity
            android:name="com.yuzhai.ui.DetailWorkActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码界面 -->
        <activity
            android:name="com.yuzhai.ui.ChangePswdActivity"
            android:screenOrientation="portrait" />
        <!--设置界面-->
        <activity
            android:name="com.yuzhai.ui.SetUpActivity"
            android:screenOrientation="portrait" />
        <!--反馈界面-->
        <activity
            android:name="com.yuzhai.ui.FeedBackActivity"
            android:screenOrientation="portrait" />
        <!--头像界面-->
        <activity
            android:name="com.yuzhai.ui.headerImageActivity"
            android:screenOrientation="portrait" />
        <!--实名认证界面-->
        <activity
            android:name="com.yuzhai.ui.IdentityAuthenActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>