<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuzhai.yuzhaiwork">

    <!-- 连网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写SD卡权限(申请) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--创建与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 拍照权限(申请) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--查看系统状态(申请)-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--查看网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--查看Wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取任务栈-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.yuzhai.yuzhaiwork.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.yuzhai.yuzhaiwork.permission.MIPUSH_RECEIVE" />


    <application
        android:name="com.yuzhai.global.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_chinese_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="d6c96dccb6148cc1b83b00b9676d6e43" />

        <!-- 欢迎界面 -->
        <activity
            android:name="com.yuzhai.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.yuzhai.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--登录和注册界面-->
        <activity
            android:name="com.yuzhai.activity.LoginAndRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 类别界面 -->
        <activity
            android:name="com.yuzhai.activity.WorkCategoryActivity"
            android:screenOrientation="portrait" />
        <!-- 广告界面 -->
        <activity
            android:name="com.yuzhai.activity.AdvertiseActivity"
            android:screenOrientation="portrait" />
        <!-- 个人信息界面 -->
        <activity
            android:name="com.yuzhai.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索界面 -->
        <activity
            android:name="com.yuzhai.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码界面 -->
        <activity
            android:name="com.yuzhai.activity.AlterPswActivity"
            android:screenOrientation="portrait" />
        <!--设置界面-->
        <activity
            android:name="com.yuzhai.activity.SetUpActivity"
            android:screenOrientation="portrait" />
        <!--反馈界面-->
        <activity
            android:name="com.yuzhai.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <!--实名认证界面-->
        <activity
            android:name="com.yuzhai.activity.IdentityAuthenActivity"
            android:screenOrientation="portrait" />
        <!--详细订单界面-->
        <activity
            android:name="com.yuzhai.activity.WorkDetailActivity"
            android:screenOrientation="portrait" />
        <!--聊天界面-->
        <activity
            android:name="com.yuzhai.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <!--收藏界面-->
        <activity
            android:name="com.yuzhai.activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <!--已发布订单详细界面-->
        <activity
            android:name="com.yuzhai.activity.OrdersPublishedActivity"
            android:screenOrientation="portrait" />
        <!--已接收订单详细界面-->
        <activity
            android:name="com.yuzhai.activity.OrdersAcceptedActivity"
            android:screenOrientation="portrait" />
        <!--已申请订单详细界面-->
        <activity
            android:name="com.yuzhai.activity.OrdersAppliedActivity"
            android:screenOrientation="portrait" />
        <!--支付界面-->
        <activity
            android:name="com.yuzhai.activity.PayActivity"
            android:screenOrientation="portrait" />
        <!--允许用户接收订单界面-->
        <activity
            android:name="com.yuzhai.activity.AcceptUserActivity"
            android:screenOrientation="portrait" />
        <!--显示图片界面-->
        <activity
            android:name="com.yuzhai.activity.ShowImageActivity"
            android:screenOrientation="portrait" />
        <!--简历填写界面-->
        <activity
            android:name="com.yuzhai.activity.SendResumeActivity"
            android:screenOrientation="portrait" />
        <!--详细简历界面-->
        <activity
            android:name="com.yuzhai.activity.ResumeDetailActivity"
            android:screenOrientation="portrait" />
        <!--聊天界面-->
        <activity
            android:name="com.yuzhai.activity.ContactDetailActivity"
            android:screenOrientation="portrait" />
        <!--消息中心界面-->
        <activity
            android:name="com.yuzhai.activity.NotificationCenterActivity"
            android:screenOrientation="portrait" />
        <!--查看用户信息界面-->
        <activity
            android:name="com.yuzhai.activity.UserDataActivity"
            android:screenOrientation="portrait" />
        <!--支付详细页面-->
        <activity
            android:name="cn.bmob.pay.v3.act.PayAct"
            android:screenOrientation="portrait" />

        <!--小米推送所需的4个服务和3个广播-->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.yuzhai.receiver.MiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <!--即时聊天-->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />
    </application>
</manifest>