<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuzhai.yuzhaiwork">

    <!-- 连网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--创建与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--查看系统状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.yuzhai.global.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_chinese_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- 欢迎界面 -->
        <activity
            android:name="com.yuzhai.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.yuzhai.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 登录界面 -->
        <activity
            android:name="com.yuzhai.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 注册界面 -->
        <activity
            android:name="com.yuzhai.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记密码界面 -->
        <activity
            android:name="com.yuzhai.activity.ForgetPswActivity"
            android:screenOrientation="portrait" />
        <!-- 类别界面 -->
        <activity
            android:name="com.yuzhai.activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <!-- 广告界面 -->
        <activity
            android:name="com.yuzhai.activity.AdvertiseActivity"
            android:screenOrientation="portrait" />
        <!-- 个人信息界面 -->
        <activity
            android:name="com.yuzhai.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索界面 -->
        <activity
            android:name="com.yuzhai.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码界面 -->
        <activity
            android:name="com.yuzhai.activity.AlterPswActivity"
            android:screenOrientation="portrait" />
        <!--设置界面-->
        <activity
            android:name="com.yuzhai.activity.SetUpActivity"
            android:screenOrientation="portrait" />
        <!--反馈界面-->
        <activity
            android:name="com.yuzhai.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <!--实名认证界面-->
        <activity
            android:name="com.yuzhai.activity.IdentityAuthenActivity"
            android:screenOrientation="portrait" />
        <!--详细订单界面-->
        <activity
            android:name="com.yuzhai.activity.WorkDetailActivity"
            android:screenOrientation="portrait" />
        <!--聊天界面-->
        <activity
            android:name="com.yuzhai.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <!--收藏界面-->
        <activity
            android:name="com.yuzhai.activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <!--已发布订单详细界面-->
        <activity
            android:name="com.yuzhai.activity.OrdersPublishedActivity"
            android:screenOrientation="portrait" />
        <!--已接收订单详细界面-->
        <activity
            android:name="com.yuzhai.activity.OrdersAcceptedActivity"
            android:screenOrientation="portrait" />
        <!--支付界面-->
        <activity
            android:name="com.yuzhai.activity.PayActivity"
            android:screenOrientation="portrait" />
        <!--查看用户信息界面-->
        <activity
            android:name="com.yuzhai.activity.UserDataActivity"
            android:screenOrientation="portrait" />
        <!--显示图片界面-->
        <activity
            android:name="com.yuzhai.activity.ShowImageActivity"
            android:screenOrientation="portrait" />
        <!--简历填写界面-->
        <activity
            android:name="com.yuzhai.activity.SendResumeActivity"
            android:screenOrientation="portrait" />
        <!--详细简历界面-->
        <activity
            android:name="com.yuzhai.activity.ResumeDetailActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>